/*header */
.main-head{
    position: relative;
    background-image: url(../images/background.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height:95vh;
}

/* content */
.advisor{color: var(--col-lightseagreen);}

.quote{
    display: block;
    margin-left: auto;
    margin: 3em auto;
    width: 25%;
}
.packages{
    border: none;
    border-radius: 2em;
}
.packages img{
    margin-bottom: 1.5em;
    border: none;
    border-radius: 6em;
    box-shadow:0.2em 0.31em 0.52em #cb975e ;

}
.europe-box{display: flex;}
.europe.box p{width: 25%;}
.europe-img{
    height:40em;
    width: 37.5em;
    display: block;
    border-radius: 6em;
    margin-bottom: 0.5em;
}
.europe-box a:first-of-type{margin-right: 1em;}
.europe-box a:last-of-type {margin-left: 0.5em;}
.europe-text{display: flex;}

.why-tripadvisor img{
    width: 90%;
    display: block;
    margin: 0 auto 2.5em auto;
    image-rendering: optimizeQuality;
}
.community-post{
    display: block;
    width: 12em;
    margin: 0 auto 1.5em auto;
}
.community-photos{border-radius: 6em; margin-bottom: 1em;}


